@import url(https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro|Ubuntu|Arimo);

html {
	height: 100%;
}

body{
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

h1 {
	color: rgb(39, 83, 124);
	font-size: 30px;
	margin-bottom: 35px;
}

ul {
	list-style:none;
	margin: 0;
}

.sections {
	position: relative;
}

.home {
	/*background-image: url('../images/home/background.jpg');*/
	min-height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.logo{
	margin: 1% 7%;
	position: absolute;
	top: 0;
	z-index: 2;
}

.boton_contacto{
	border: 1px solid #fff;
	color: white;
	padding: 1%;
	position: absolute;
	right: 7%;
	top: 30px;
	z-index: 2;
    border-radius: 5px;
}

.enlace_contacto {
	color: #FFF;
	font-size: 14px;
}

.content_home {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 260px auto;
    position: relative;
    text-align: center;
    z-index: 2;
}

.titulo_content {
	font-size: 32px;
	font-weight: bold;
}

.text_content {
	display: inline-block;
	font-size: 20px;
	width: 75%;
}

.filter {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
    min-height: 100%;
    top: 0;
	width: 100%;
    z-index: 1;
}

.loader {
  background-color: white;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 0; /* Aquí asegurate de tener un número mayor al del vídeo, pero menor a la capa que lo oscurece */
}

.menu {
	background: rgb(0, 11, 42);
	color: #fff;
	position: absolute;
	text-align: right;
	width: 100%;
    left: 0;
    top: 0;
    z-index: 3;
}

.logo_menu {
	display: inline-block;
	margin: 15px;
	text-align: left;
	vertical-align: bottom;
	width: 42%;
}

.botones {
	display: inline-block;
	width: 50%;
    text-align: right;
    vertical-align: super;
    margin: 7px;
}

.botones li {
	float:left;
	width: 23%;
	margin: 15px 0;
	font-size: 14px;
}

.botones li a {
	color: rgb(227, 226, 226);
}

.about_us {
	width: 96%;
	text-align: center;
	padding: 7% 2% 2%;
}

.us {
	width: 90%;
	display: inline-block;
	margin: 25px;
}

.section_about{
	display: inline-block;
	width: 30%;
	color: rgb(39, 83, 124);
}

.section_about .icon {
	opacity: 0.7; 
}

.section_about .titulo {
	margin-top: 20px;
	font-weight: bold;
	font-size: 15px;
}

.section_about .content {
	text-align: justify;
	padding: 15px;
	font-size: 14px;
}

.our_services {
	text-align: center;
	width: 100%;
	background-size: cover;
	position: relative;
	display: inline-block;
	background-position: center;
}

.service1 {
	background-image: url('../images/services/services.jpg');
}

.service1 .service {
	margin: 20px auto 80px;
}

.service2 {
	background-image: url('../images/services/service_2.jpg');
	background-position: center -127px;
}
.service3 {
	background-image: url('../images/services/service_3.jpg');
	background-position: center -450px;
    height: 375px;
}
.service4 {
	background-image: url('../images/services/service_4.jpg');
}
.service5 {
	background-image: url('../images/services/service_5.jpg');
}

.filter_services {
	position: absolute;
	width: 100%;
    min-height: 100%;
    top: 0;
    z-index: 1;
	background: rgba(0, 0, 0, 0.7);
	transition: background 1s;
	transition-timing-function: ease;
}

.content_services {
	width: 100%;
	text-align: center;
	padding: 100px 0 50px;
	background: -moz-linear-gradient(top,  rgba(0,11,42,1) 0%, rgba(0,11,42,0.84) 70%, rgba(0,11,42,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,11,42,1) 0%,rgba(0,11,42,0.84) 70%,rgba(0,11,42,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,11,42,1) 0%,rgba(0,11,42,0.84) 70%,rgba(0,11,42,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000b2a', endColorstr='#00000b2a',GradientType=0 ); /* IE6-9 */

}

.title_services {
	position: relative;
	width: 20%;
	color: rgb(227, 226, 226);
	font-weight: bold;
	z-index: 2;
	font-size: 30px;
	margin: 0 auto 30px auto;
}

.text_services {
	color: rgb(227, 226, 226);
	position: relative;
	z-index: 2;
	width: 80%;
	margin: 0 auto;
}

.service {
	color: rgb(227, 226, 226);
	position: relative;
	z-index: 1;
	width: 80%;
	margin: 80px auto;
}

.our_services:hover .filter_services{
	background: rgba(0, 0, 0, 0.5);
}

.our_services:hover .service{
	z-index: 2;
}

.service .header {
	text-align: left;
	margin: 20px 0;
}

.service .icon {
    margin-right: 25px;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 25px;
}

.service .title {
	vertical-align: super;
	font-weight: bold;
	color: rgb(84, 183, 208);
    text-shadow: 1px 1px rgb(0, 6, 7);
}

.service .content {
	text-align: left;
	line-height: 20px;
}

.clients{
	text-align: center;
	padding: 90px 0;
	min-height: 25%;
}

.clients h1 {
	margin-bottom: 35px;
    color: rgb(39, 83, 124);
    font-size: 30px;
    padding-bottom: 30px;
}

.logo_clients {
	position: relative;
	width: 20%;
	display: inline-block;
	-webkit-filter: grayscale(1);
}

.logo_clients img{
	opacity: 0.5;
}

.contact {
	width: 100%;
	text-align: center;
	background: #029BBA;	
	padding: 8% 0;
}

.titulo_contact {
	color: #FFF;
	/*color: rgb(227, 226, 226);*/
	font-size: 30px;
	padding-bottom: 5%;
}

.section_contact {	
	display: inline-block;
	width: 30%;
	text-align: center;
}

.icon_contact{
	border: 1px solid rgb(227, 226, 226);
	padding: 25px;
    border-radius: 100px;
    display: inline-block;

}

.text_contact {
	color: #FFF;
	margin: 25px 0;
	font-size: 15px;
}

.form {
	width: 100%;
	text-align: center;
	min-height: 15%;
	background: #EDF0F5; 
}

.form form {
	padding-top: 22px;
}

.form input {
	width: 20%;
	height: 45px;
	margin-right: 10px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 4px;
    font-size: 15px;
    padding-left: 15px; 
}

.button {
	background-color: #029BBA;
	cursor: pointer;
	border: 0;
	color: #FFF;
	font-weight: bold;
	font-size: 15px;
}

footer {
	width: 100%;
	text-align: center;
	min-height: 10%;
	background: rgb(0, 11, 42);
	margin-top: -16px;
	text-align: center;
	font-size: 12px;
	color: rgb(62, 77, 121);
	padding: 20px 0;
}

footer .enlace {
	font-weight: bold;
	display: inline-block;
	margin-left: 10px;
	width: 20%;
	text-align: left;
}

footer .texto {
	display: inline-block;
	width: 40%;
}

footer .icons {
	display: inline-block;
	margin-top: 18px;
	width: 20%;
	text-align: right;
}

footer .icons img {
	margin: 0 10px;
}